CREATE TABLE barbers (id UUID DEFAULT uuid_generate_v4() PRIMARY KEY, name TEXT NOT NULL, photo_url TEXT, specialties TEXT[], created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()) NOT NULL);
